<div class="tab-checkout-receipt card">
  <p>THE TAB total: {{ cart.total_price | money }}</p>
  <a class="theme-diner__button" href="{{ routes.cart_url }}">Review Tab</a>
  <a class="theme-diner__button" href="/checkout">Checkout</a>
</div>
